# Системные файлы
.DS_Store         # macOS
Thumbs.db        # Windows

# Папки и файлы виртуального окружения
venv/
env/
*.egg-info/

# Файлы настроек IDE
.idea/
*.iml

# Папки для сборки
build/
dist/

# Файлы конфигурации
*.pyc
__pycache__/
.idea/